.ExploreWhitepaperComponentParagraph {
    margin-bottom: 1em;
    line-height: 1.7;
    color: var(--base-text-color);
}

.ExploreWhitepaperComponentContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-color);
}

.ExploreWhitepaperComponentIntroHeader {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.ExploreWhitepaperComponentIntroHeaderContent {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.ExploreWhitepaperComponentTitleRow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width: 450px) {
    .ExploreWhitepaperComponentTitleRow {
        align-items: start !important;
    }

    .ExploreWhitepaperComponentIntroTitle {
        margin-top: 3em !important;
    }

}

.ExploreWhitepaperComponentIntroTitle {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--accent-color);
    margin: 0;
}

.ExploreWhitepaperComponentIntroCloseButton {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10vw;
    transition: all 0.2s ease;
    position: absolute;
    right: 0;
}

.ExploreWhitepaperComponentIntroCloseArrow {
    color: var(--accent-color);
    transition: transform 0.2s ease;
}

.ExploreWhitepaperComponentIntroCloseButton p {
    color: var(--accent-color);
    font-size: 0.5em;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    margin: 5px;
    font-weight: 600;
    white-space: nowrap;
}

.ExploreWhitepaperComponentIntroCloseButton:hover .ExploreWhitepaperComponentIntroCloseArrow {
    transform: translateX(-4px);
    border: 2px solid var(--accent-color);
    border-radius: 50%;
}

.ExploreWhitepaperComponentIntroCloseButton:hover p {
    opacity: 1;
}

.ExploreWhitepaperComponentIntroSubtitle {
    font-size: 1.2em;
    color: var(--accent-color);
    font-weight: 400;
}

.ExploreWhitepaperComponentIntroAuthor {
    font-size: 1em;
    color: var(--base-text-color);
}

.ExploreWhitepaperComponentWrapper {
    display: flex;
    width: 100%;
    max-width: 80vw;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.ExploreWhitepaperComponentWrapperSidebar {
    flex: 0 0 280px;
    padding: 20px;
    border-right: 1px solid var(--base-text-color);
    box-sizing: border-box;
}

.ExploreWhitepaperComponentWrapperSidebarTitle {
    font-size: 1em;
    font-weight: 600;
    color: var(--accent-color);
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.ExploreWhitepaperComponentWrapperSidebarNavList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ExploreWhitepaperComponentWrapperSidebarNavListItem {
    display: block;
    padding: 8px 0;
    color: var(--base-text-color);
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    transition: color 0.2s ease;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

.ExploreWhitepaperComponentWrapperSidebarNavListItem:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

.ExploreWhitepaperComponentWrapperMainContent {
    flex-grow: 1;
    padding: 30px;
    box-sizing: border-box;
}

.ExploreWhitepaperComponentWrapperMainContentSection {
    margin-bottom: 2.5em;
}

.ExploreWhitepaperComponentWrapperMainContentSectionHeading {
    font-size: 1em;
    font-weight: 600;
    color: var(--accent-color);
    margin-top: 0;
    margin-bottom: 1em;
}

.ExploreWhitepaperComponentSubSectionHeading {
    font-size: 1em;
    font-weight: 400;
    color: var(--accent-color);
    margin-top: 1.5em;
    margin-bottom: 0.8em;
}

.ExploreWhitepaperComponentFlexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 2em;
}

.ExploreWhitepaperComponentCardLink {
    flex: 1 1 calc(50% - 10px);
    text-decoration: none;
    color: inherit;
    display: flex;
}

.ExploreWhitepaperComponentCard {
    flex-grow: 1;
    background-color: white;
    /* border: 1px solid var(--base-text-color); */
    border-radius: 6px;
    padding: 15px;
    box-sizing: border-box;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.ExploreWhitepaperComponentCard:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}


.ExploreWhitepaperComponentCard:hover .ExploreWhitepaperComponentCardDescription {
    font-weight: 600;
}

.ExploreWhitepaperComponentCardTitle {
    font-size: 1em;
    font-weight: 600;
    color: var(--accent-color);
    margin-top: 0;
    margin-bottom: 0.5em;
}

.ExploreWhitepaperComponentCardDescription {
    font-size: 1em;
    color: rgb(77, 77, 77);
}

.ExploreWhitepaperComponentBlockquote {
    border-left: 4px solid var(--accent-color);
    padding-left: 15px;
    margin: 1.5em 0;
    font-style: italic;
    color: var(--accent-color);
}

.ExploreWhitepaperComponentParagraphList {
    list-style: disc;
    padding-left: 25px;
    margin-bottom: 1em;
}

.ExploreWhitepaperComponentParagraphList li {
    margin-bottom: 0.5em;
    color: var(--base-text-color);
}

.ExploreWhitepaperComponentImageContainer {
    text-align: center;
    margin: 2em 0;
}

.ExploreWhitepaperComponentImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.ExploreWhitepaperComponentWrapperFooterSection {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid var(--base-text-color);
    margin-top: 20px;
}

.ExploreWhitepaperComponentWrapperFooterSectionContent {
    max-width: 50vw;
    margin: 0 auto;
    padding: 0 20px;
}

.ExploreWhitepaperComponentWrapperFooterSectionText {
    font-size: 0.9em;
    color: var(--base-text-color);
    margin-bottom: 3px;
}

.ExploreWhitepaperComponentWrapperFooterSectionCopyrightText {
    font-size: 0.75em;
    color: var(--base-text-color);
    margin-top: 10px;
}

@media (max-width: 960px) {
    .ExploreWhitepaperComponentWrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
    }
}

@media (max-width: 600px) {
    .ExploreWhitepaperComponentContainer {
        padding: 10px;
        font-size: 12px;
    }

    .ExploreWhitepaperComponentIntroHeader {
        padding: 15px 0;
    }

    .ExploreWhitepaperComponentWrapperMainContent {
        padding: 20px;
    }

    .ExploreWhitepaperComponentFlexContainer {
        flex-direction: column;
    }

    .ExploreWhitepaperComponentCardLink {
        flex: 1 1 100%;
    }


    .ExploreWhitepaperComponentWrapperSidebar {
        flex: 0 0 280px;
        padding: 20px;
        border-bottom: 1px solid var(--base-text-color);
        border-right: none;
        box-sizing: border-box;
    }
}

@media (min-width:1200px) {
    .ExploreWhitepaperComponentContainer {
        font-size: 20px;
    }
}

@media (min-width:1800px) {
    .ExploreWhitepaperComponentContainer {
        font-size: 28px;
    }
}