.ServicesMainDividerSectionContainer {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.ServicesMainDividerSectionIntro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ServicesMainDividerSectionIntroTitleAccent {
    box-sizing: border-box;
    width: 100%;
    height: 7em;
    margin-block: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, transparent, var(--services-hero-section-contact-image-wrapper-after-box) 30%, var(--services-hero-section-contact-image-wrapper-after-box) 70%, transparent);
}

.ServicesMainDividerSectionIntroTitle {
    text-align: center;
    font-size: 1.5em;
    margin: 0px;
    font-weight: 600;
    color: var(--accent-color);
}

@media (max-width:600px) {
    .ServicesMainDividerSectionContainer {
        font-size: 12px;
        row-gap: 10px;
    }
}

@media (min-width:1200px) {
    .ServicesMainDividerSectionContainer {
        font-size: 20px;
        row-gap: 100px;
    }
}

@media (min-width:1800px) {
    .ServicesMainDividerSectionContainer {
        font-size: 28px;
        row-gap: 100px;
    }
}