.AboutStepsSectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--bg-color);
    font-size: 12px;
}

.AboutStepSectionWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
}

.StepSlot {
    width: max-content;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.StepTabWrapper {
    background-color: var(--about-step-tab-wrapper-bg-color);
    color: var(--accent-color);
    border: 4px solid var(--accent-color);
    overflow: hidden;
    transition: all 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 5vw;
    height: 35vw;
    min-height: 400px;
}

.StepTabWrapper:hover {
    transform: scale(1.05);
}

.StepTabWrapper.open {
    width: 35vw;
    height: 35vw;
}

.StepTabWrapper.open:hover {
    transform: none;
}

.StepTabContent {
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    font-weight: bold;
    font-size: 1.2em;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease;
}

.StepTabWrapper.open .StepTabContent {
    flex-direction: column;
    writing-mode: unset;
    text-orientation: unset;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    color: var(--about-steps-content-color);
    padding: 2em;
}

.StepLabel {
    transform: rotate(180deg);
}

.StepDetailsCardContent {
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
}

.fadeInText {
    opacity: 1;
    pointer-events: auto;
}

.StepDetailsTitle {
    color: var(--accent-color);
    font-size: 1.2em;
    font-weight: 600;
}

.StepDetailsList {
    list-style-type: disc;
    text-align: left;
    color: var(--about-steps-content-color);
}

.animating {
    pointer-events: none;
}

@media (max-width: 600px) {
    .AboutStepsSectionContainer {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        font-size: 14px;
    }

    .AboutStepSectionWrapper {
        flex-direction: column;
        width: 100%;
    }

    .StepSlot {
        width: 90vw;
        height: min-content;
        min-height: unset;
        padding: 0.5em;
        flex-direction: column;
        text-align: center;
    }

    .StepTabWrapper {
        width: 90vw;
        height: auto;
        min-height: 40px;
        padding: 1em;
        border: 2px solid var(--accent-color);
        flex-direction: column;
        transition: all 0.6s ease-in-out;
    }

    .StepTabWrapper:hover {
        transform: scale(1.02);
    }

    .StepTabWrapper.open {
        min-height: 300px;
        width: 90vw;
    }

    .StepTabContent {
        writing-mode: unset;
        text-orientation: unset;
        font-weight: bold;
        font-size: 0.9em;
        padding: 0;
        text-align: center;
        flex-direction: column;
        transition: all 0.6s ease-in-out;
    }

    .StepLabel {
        transform: none;
    }

    .StepDetailsCardContent {
        will-change: opacity, transform;
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
        width: 100%;
        font-size: 0.9em;
        color: var(--about-steps-content-color);
    }

    .fadeInText {
        transform: translateY(0);
        opacity: 1;
    }

    .StepDetailsTitle {
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    .AboutStepsSectionContainer {
        font-size: 20px;
        row-gap: 100px;
    }
}

@media (min-width: 1800px) {
    .AboutStepsSectionContainer {
        font-size: 24px;
    }

    .StepTabWrapper {
        max-width: 800px;
        max-height: 800px;
    }

    .StepTabWrapper.open .StepTabContent {
        padding: 4em;
    }
}