.BreachTimeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    background-color: var(--bg-color);
}

@media (max-width: 400px) {
    .BreachTimeline {
        font-size: 10px !important;
    }
}

@media (max-width: 850px) {
    .BreachTimeline {
        font-size: 12px;
        gap: 5em;
    }

    .BreachContent {
        display: flex;
        flex-direction: column;
    }

    .BreachLine {
        column-gap: 10vw !important;
    }

    .BreachDetails h2:first-of-type {
        display: none;
    }

    .BreachDetails h2:last-of-type {
        margin-top: 1em;
    }

    .BreachYearTag {
        width: 80% !important;
        height: unset !important;
        padding: 0px !important;
        padding-block: 1em !important;
        margin-block: 1em;
        border-right: 2px solid var(--accent-color);
        border-block: 2px solid var(--accent-color);
    }

    .BreachYearContainer {
        flex-direction: row !important;
    }

    .BreachYear {
        font-size: 8em !important;
    }

}

@media (max-width: 1199px) {
    .BreachDetailsCTA {
        font-size: 1em;
    }

    .BreachDetails h2:first-of-type {
        margin-top: 1em;
    }
}

@media (min-width: 1200px) {
    .BreachTimeline {
        font-size: 20px;
    }
}

@media (min-width: 1800px) {
    .BreachTimeline {
        font-size: 28px;
    }
}

.BreachContent {
    column-gap: 5em;
    background-color: var(--bg-color);
    color: var(--base-text-color);
    border: none;
    min-height: 150px;
    border-radius: 8px;
    display: flex;
}

.BreachYearTag {
    background-color: var(--tag-color);
    /* border: 2px solid var(--accent-color); */
    border-left: none;
    padding: 1em;
    padding-left: 4em;

    height: 25em;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(-100%);
    animation: BreachYearTagSlide 1s forwards;
}

@keyframes BreachYearTagSlide {
    to {
        transform: translateX(0%);
    }
}

.BreachYearContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BreachYear {
    padding: 0px;
    margin: 0px;
    font-size: 10em;
    margin-block: -0.3em;
    color: var(--bg-color);
}

.BreachDetails {
    /* max-height: 25em;
    overflow-y: auto; */
    position: relative;
}

.BreachDetails.ReusableFadeUp {
    animation: ReusableFadeUp 0.6s ease-out;
}

.BreachDetailsCTA {
    position: absolute;
    top: 0px;
    right: 20%;
    background-color: var(--accent-color);
    color: white;
    font-size: 1.25em;
    padding: .5em 1em;
    border-radius: 5em;
    border: none;
}

.BreachDetailsCTAArrow {
    width: auto;
    height: 1em;
    filter: invert(1);
}

.BreachDetails h2 {
    margin-block: 0;
    font-size: 4em;
}

.BreachDetails p {
    margin-block: 0;
    font-size: 1em;

    max-height: 15em;
    overflow-y: auto;
}

.BreachDetails h2,
.BreachDetails p {
    width: 80%;
}

.BreachInstructions {
    color: #666;
    font-style: italic;
}

.BreachLine {
    display: flex;
    justify-content: center;
    gap: 15vw;
    position: relative;
}

.BreachLineConnector {
    content: "";
    position: absolute;
    z-index: 0;
    top: 50%;
    left: -1em;
    width: 100%;
    height: 1em;
    border-radius: 1em;
    padding-inline: 1em;
    /* Thickness of the line */
    background-color: var(--tag-color);
    /* Line color */
    transform: translateY(-50%);
}

.BreachButton {
    position: relative;
    z-index: 1;
    background-color: var(--tag-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease;
}

.BreachButton img {
    filter: var(--icon-filter);
}

.Breach.active .BreachButton {
    background-color: var(--accent-color);
}

.BreachButton:hover {
    transform: scale(1.1);
    border: 1px solid var(--accent-color);
    width: 49px;
    height: 49px;
}