.WhitePaperContainer {
    background-color: var(--bg-color);
    width: 100%;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:600px) {
    .WhitePaperContainer {
        font-size: 12px;

        flex-direction: column-reverse;
    }
}

@media (min-width:1200px) {
    .WhitePaperContainer {
        font-size: 20px;
    }
}

@media (min-width:1800px) {
    .WhitePaperContainer {
        font-size: 28px;
    }
}

.WhitePaperContainerTitle {
    font-size: 1.5em;
    color: var(--accent-color);
    font-weight: 600;
    margin-bottom: 1em;
    text-align: center;
}

.WhitePaperBlockContainer {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
    row-gap: 2em;
}

.WhitePaperBlock {
    width: 15em;
    min-height: 19em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    border-radius: 1em;
    padding-block: .5em;
    transform: scale(1);
    transition: all .5s ease-in-out;
}

.WhitePaperBlockContainer a {
    text-decoration: none !important;
}

.WhitePaperBlock:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.WhitePaperBlock:hover h3 {
    text-decoration: underline;
}

.WhitePaperBlock h3 {
    color: var(--accent-color);
    width: 90%;
    font-size: 1.1em;
    font-weight: 600;
}

.WhitePaperBlock p {
    color: black;
    flex: 1;
    width: 90%;
    text-align: right;
    font-size: .75em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WhitePaperTagContainer {
    width: 90%;
    display: flex;
}

.WhitePaperTag {
    font-size: .75em;
    margin-inline: .5em;
    padding: .5em 1em;
    border-radius: .5em;
    background-color: black;
    color: white;
}

.WhitePaperContainerTimer {
    position: relative;
    width: 50%;
    height: 5em;
    margin-top: 20px;
}

.WhitePaperContainerTimerLine {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    transform: translateY(-50%);
}

.WhitePaperContainerTimerCircle {
    position: absolute;
    top: 50%;
    width: 1em;
    height: 1em;
    background-color: var(--accent-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    /* transition: left 0.05s linear; */
}


@media (max-width:599px) {
    .gt600 {
        display: none;
    }
}

@media (min-width:600px) {
    .ltet600 {
        display: none;
    }
}