.DarkModeToggle {
    position: fixed;
    top: 2.5rem;
    right: 5rem;
    z-index: 999;
    background: var(--button-bg);
    color: var(--button-text);
    border: 1px solid var(--dark-mode-toggle-border);
    border-radius: 50%;
    height: 3em;
    width: 3em;
    font-size: 1.25rem;
    cursor: pointer;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    transition: all 0.5s ease;
}

.DarkModeToggle img {
    width: 2em;
    height: auto;
}

.DarkModeToggle.with-border {
    top: 1.25rem;
}

@media (max-width:600px) {
    .DarkModeToggle {
        font-size: 12px;
    }
}

@media (max-width:850px) {
    /* .DarkModeToggle {
        display: none;
    } */
}

@media (min-width:1200px) {
    .DarkModeToggle {
        font-size: 20px;
    }
}

@media (min-width:1800px) {
    .DarkModeToggle {
        top: 3.5em;
        right: 8em;
        font-size: 28px;
    }
}