.PageDividerRemovedContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    padding-block: 0vh;
}

.PageDividerRemoved {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.PageDividerRemovedLeft,
.PageDividerRemovedRight {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;
}

.PageDividerRemovedCenter {
    height: 40px;
    /* adjust as needed */
    object-fit: contain;
    filter: var(--icon-filter);
}

@media (max-width: 600px) {
    .PageDividerRemovedContainer {
        padding-block: 4vh;
    }
}