.ExploreNavigateSectionContainer {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.ExploreNavigateSectionIntro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80vw;
}

.ExploreNavigateSectionIntroTitle {
    text-align: left;
    font-size: 1.5em;
    margin: 0px;
    font-weight: 600;
    color: var(--accent-color);
}

.ExploreNavigateSectionIntroDescription {
    font-size: 1em;
    font-weight: 400;
    color: var(--base-text-color);
    text-align: left;
}

.ExploreNavigateSectionToolsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: space-evenly;
    align-items: stretch;
    row-gap: 2em;
}

.ExploreNavigateSectionToolWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    min-height: 375px;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
}


.ExploreNavigateSectionToolImage {
    width: 15vw;
    height: auto;
    filter: var(--icon-filter);

    transition: transform 1s;
    transform-style: preserve-3d;
}

.ExploreNavigateSectionToolWrapper:hover .ExploreNavigateSectionToolImage {
    transform: rotateY(360deg);
}

.ExploreNavigateSectionToolTitle {
    text-align: center;
    font-size: 1.5em;
    margin: 0px;
    font-weight: 600;
    color: var(--accent-color);
}

.ExploreNavigateSectionToolDescription {
    font-size: 1em;
    min-height: 4em;
    font-weight: 400;
    color: var(--base-text-color);
    text-align: center;
}

.ExploreNavigateSectionCTA {
    --color: var(--bg-color);
    padding: 0.5em 3em;
    background-color: transparent;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
    font-size: 0.75em;
    border: 3px solid;
    font-family: "Poppins", sans-serif;
    border-color: var(--accent-color);
    color: var(--base-text-color);
    z-index: 1;
    margin-top: auto;
    align-self: center;
}

.ExploreNavigateSectionCTA img {
    height: 1.25em;
    filter: var(--icon-filter);
}

.ExploreNavigateSectionCTA::before,
.ExploreNavigateSectionCTA::after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--accent-color);
    transition: 1s ease;
}

.ExploreNavigateSectionCTA::before {
    top: -1em;
    left: -1em;
}

.ExploreNavigateSectionCTA::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.ExploreNavigateSectionCTA:hover::before,
.ExploreNavigateSectionCTA:hover::after {
    height: 410px;
    width: 410px;
}

.ExploreNavigateSectionCTA:hover {
    color: var(--base-text-color);
}

.ExploreNavigateSectionCTA:active {
    filter: brightness(.8);
}


@media (max-width:600px) {
    .ExploreNavigateSectionContainer {
        font-size: 12px;
        row-gap: 10px;
    }

    .ExploreNavigateSectionIntro,
    .ExploreNavigateSectionToolsContainer {
        width: 90vw;
    }

    .ExploreNavigateSectionToolWrapper {
        width: 90vw;
        min-height: auto;
    }

    .ExploreNavigateSectionToolImage {
        width: 45vw;
    }
}

@media (min-width:1200px) {
    .ExploreNavigateSectionContainer {
        font-size: 20px;
        row-gap: 100px;
    }
}

@media (min-width:1800px) {
    .ExploreNavigateSectionContainer {
        font-size: 28px;
        row-gap: 100px;
    }
}