.ExploreTryBreachSectionContainer {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.ExploreTryBreachSectionIntro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding-bottom: 5em;
    opacity: 0;
    transform: translateY(20%);
    animation: ExploreTryBreachSectionIntroFadeUp 1s forwards;
}

@keyframes ExploreTryBreachSectionIntroFadeUp {
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.ExploreTryBreachSectionIntroTitle {
    text-align: center;
    font-size: 1.5em;
    margin: 0px;
    font-weight: 600;
    color: var(--accent-color);
}

.ExploreTryBreachSectionIntroDescription {
    font-size: 1em;
    font-weight: 400;
    color: var(--base-text-color);
    text-align: center;
}

.ExploreTryBreachSectionCTA {
    --color: var(--bg-color);
    padding: 0.5em 3em;
    background-color: transparent;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
    font-size: 0.75em;
    border: 3px solid;
    font-family: "Poppins", sans-serif;
    border-color: var(--accent-color);
    color: var(--base-text-color);
    z-index: 1;
}

.ExploreTryBreachSectionCTA img {
    height: 1.25em;
    filter: var(--icon-filter);
}

.ExploreTryBreachSectionCTA::before,
.ExploreTryBreachSectionCTA::after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--accent-color);
    transition: 1s ease;
}

.ExploreTryBreachSectionCTA::before {
    top: -1em;
    left: -1em;
}

.ExploreTryBreachSectionCTA::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.ExploreTryBreachSectionCTA:hover::before,
.ExploreTryBreachSectionCTA:hover::after {
    height: 510px;
    width: 510px;
}

.ExploreTryBreachSectionCTA:hover {
    color: var(--base-text-color);
}

.ExploreTryBreachSectionCTA:active {
    filter: brightness(.8);
}

@media (max-width:600px) {
    .ExploreTryBreachSectionContainer {
        font-size: 12px;
        row-gap: 10px;
    }
}

@media (min-width:1200px) {
    .ExploreTryBreachSectionContainer {
        font-size: 20px;
        row-gap: 100px;
    }
}

@media (min-width:1800px) {
    .ExploreTryBreachSectionContainer {
        font-size: 28px;
        row-gap: 100px;
    }
}