.HomeClientsSectionContainer {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.HomeClientsSectionIntro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    padding-bottom: 50px;
}

.HomeClientsSectionIntroTitle {
    font-size: 1.5em;
    margin: 0px;
    font-weight: 600;
    color: var(--accent-color);
}

.HomeClientsSectionIntroDescription {
    font-size: 1em;
    font-weight: 400;
    color: var(--base-text-color);
}

.HomeClientsSectionGrid {
    display: grid;
    gap: 50px;
    width: fit-content;
    max-width: 1000px;
    margin: 0 auto;
}

.HomeClientsSectionGrid.desktop {
    grid-template-columns: repeat(5, 10vw);
    justify-content: center;
    place-items: center;
}

.HomeClientsSectionGrid.mobile {
    grid-template-columns: repeat(3, 15vw);
    justify-content: center;
    place-items: center;
}

.HomeClientsSectionGridCell {
    width: 100px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomeClientsSectionGridImage {
    width: 100px;
    height: auto;
    object-fit: cover;
    opacity: 0;
    animation: HomeClientsFadeIn 0.5s ease forwards;
    border-radius: 20px;
    background-color: var(--home-clients-section-grid-image-bg-color);
    /* background: radial-gradient(ellipse at center, var(--footer-gradient-1) 0%, var(--footer-gradient-2) 90%); */
}

@keyframes HomeClientsFadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .HomeClientsSectionGrid {
        max-width: 90%;
    }
}


@media (max-width: 600px) {
    .HomeClientsSectionContainer {
        font-size: 12px;
        row-gap: 0px;
    }

    .HomeClientsSectionGrid {
        gap: 30px;
    }

    .HomeClientsSectionGrid.mobile {
        grid-template-columns: repeat(3, 60px);
    }

    .HomeClientsSectionGridCell {
        width: 60px;
        aspect-ratio: 1 / 1;
    }

    .HomeClientsSectionGridImage {
        width: 60px;
        height: auto;
    }
}

@media (min-width:1200px) {
    .HomeClientsSectionContainer {
        font-size: 20px;
        row-gap: 0px;
    }
}

@media (min-width:1800px) {
    .HomeClientsSectionContainer {
        font-size: 28px;
        row-gap: 0px;
    }
}