.HomeTitleContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 7em;
    background-color: var(--bg-color);
}

.HomeTitleTag {
    width: 40vw;
    min-width: 300px;
    max-width: 1000px;
    height: 4em;
    font-size: 1.25em;
    font-weight: 600;
    color: var(--accent-color);
    background-color: var(--tag-color);
    border-top: 3px solid var(--accent-color);
    border-right: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 2em;
    transform: translateX(-100%);
    animation: HomeTitleTagSlide 1s forwards;
}

@keyframes HomeTitleTagSlide {
    to {
        transform: translateX(0%);
    }
}



@media (max-width:600px) {
    .HomeTitleContainer {
        font-size: 12px;
    }


}

@media (min-width:1200px) {
    .HomeTitleContainer {
        font-size: 20px;
    }
}

@media (min-width:1800px) {
    .HomeTitleContainer {
        font-size: 28px;
    }
}