.HomeCTAPanel {
    width: 80%;
    padding-inline: 10%;
    /* height: 15em; */
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    /* Optional: allows wrapping on smaller screens */
    padding-block: 5rem;
}

@media (max-width:600px) {
    .HomeCTAPanel {
        font-size: 12px;
        padding-block: 2em;
    }

    .CTAPanelButton {
        font-size: 12px !important;
    }
}

@media (min-width:1200px) {
    .HomeCTAPanel {
        font-size: 20px;
    }

    .CTAPanelButton {
        font-size: 20px !important;
    }
}

@media (min-width:1800px) {
    .HomeCTAPanel {
        font-size: 28px;
    }

    .CTAPanelButton {
        font-size: 28px !important;
    }
}

.CTAPanelButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.CTAPanelButton {
    padding: 12px 20px;
    padding-right: 15px;
    z-index: 1;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    color: var(--accent-color);
    font-weight: 600;
    border: 2px solid black;
    transition: background-color 0.3s ease;
}

.CTAPanelButton:hover {
    background-color: #f2f2f2;
    z-index: 3;
}

.SwordGraphic {
    user-select: none;
    z-index: 0;
    position: absolute;
    opacity: 0;
    width: 130px;
    margin-top: 8px;
    transform: translateY(-40px);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.CTAPanelButtonContainer:hover .SwordGraphic {
    z-index: 2;
    opacity: 1;
    transform: translateY(-80px);
    /* transform: rotate(-10deg); */
    /* optional flair */
}

.SwordGraphic:hover {
    z-index: 0 !important;
}

.CTAPanelButton.clicked {
    background-color: var(--tag-color);
}


.CTAPanelButtonContainer.clicked .SwordGraphic {
    z-index: 2;
    opacity: 1;
    transform: translateY(-70px);
    /* transform: rotate(-10deg); */
    /* optional flair */
}

.CTAPanelButton img {
    padding-left: 5px;
    height: 1em;
}