.ContactAccordionSectionContainer {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.ContactAccordionSectionIntro {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90vw;
}

.ContactAccordionSectionIntroTitle {
    text-align: center;
    font-size: 1.5em;
    margin: 0px;
    font-weight: 600;
    color: var(--accent-color);
}

.ContactAccordionSectionIntroDescription {
    font-size: 1em;
    font-weight: 400;
    color: var(--base-text-color);
    text-align: center;
}

.ContactAccordionSectionAccordionContainer {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border: 3px solid var(--accent-color);
}

.ContactAccordionSectionAccordionWrapper {
    background-color: white;
    border-radius: 1em;
    padding: 1rem;
    transition: all 0.6s ease;
    cursor: pointer;
}

.ContactAccordionSectionAccordionWrapper.open {
    background-color: white;
}

.ContactAccordionSectionAccordionContentWrapper {
    overflow: hidden;
    transition: max-height 0.5s ease;
    max-height: 0;
}

.ContactAccordionSectionAccordionDescriptionContainer {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.ContactAccordionSectionAccordionTextContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ContactAccordionSectionAccordionTitle {
    font-weight: 600;
    font-size: 1em;
    color: var(--accent-color);
    margin: 0;
}

.ContactAccordionSectionGraphic {
    width: 1.5em;
    transition: transform 0.3s ease;
    color: var(--accent-color);
}

.ContactAccordionSectionGraphic.rotated {
    transform: rotate(180deg);
}

.ContactAccordionSectionAccordionDescription {
    /* color: var(--base-text-color); */
    font-size: 1em;
}

.ContactAccordionSectionCTA {
    --color: var(--bg-color);
    padding: 0.5em 3em;
    background-color: transparent;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
    font-size: 0.75em;
    border: 3px solid;
    font-family: "Poppins", sans-serif;
    border-color: var(--accent-color);
    /* color: var(--base-text-color); */
    z-index: 1;
}

.ContactAccordionSectionCTA img {
    height: 1.25em;
}

.ContactAccordionSectionCTA::before,
.ContactAccordionSectionCTA::after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--accent-color);
    transition: 1s ease;
}

.ContactAccordionSectionCTA::before {
    top: -1em;
    left: -1em;
}

.ContactAccordionSectionCTA::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.ContactAccordionSectionCTA:hover::before,
.ContactAccordionSectionCTA:hover::after {
    height: 610px;
    width: 610px;
}

.ContactAccordionSectionCTA:hover {
    color: var(--base-text-color);
}

.ContactAccordionSectionCTA:active {
    filter: brightness(.8);
}

.ContactFormSectionFormSubmitResult {
    text-align: center;
    color: var(--base-text-color);
    font-size: 1em;
}


@media (max-width:600px) {
    .ContactAccordionSectionContainer {
        font-size: 12px;
        row-gap: 0px;
    }
}

@media (min-width:1200px) {
    .ContactAccordionSectionContainer {
        font-size: 20px;
        row-gap: 0px;
    }
}

@media (min-width:1800px) {
    .ContactAccordionSectionContainer {
        font-size: 28px;
        row-gap: 0px;
    }
}